th {
    background-color: #1EA1A1;
    color: white;
    height: 50px;
    padding: 5px;
    border: solid black;
}
table {
    margin-top:40px;
    width: 100%;
    border-collapse: collapse;

}

.button {
    background-color: #1EA1A1;
    padding: 14px 28px;
    border-radius: 11px;
    color: white;
    font-size: 18px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}